.idea
target/
.DS_Store
*.iml
*.pptx
bin/

.mvn/
workspace/
.settings/
.classpath
.project
.idea
sessions/day_01/session_02/lab_02a/spring-music/.nb-gradle/private/cache/spring-music-d41d8cd98f00b204e9800998ecf8427e
sessions/day_01/session_02/lab_02a/spring-music/.nb-gradle/profiles/private/aux-config
